.Carousel-component{
    .contact{
        span{
            font-size: 1.3rem;
            color: #ffffff;
            margin-left: -10px;
        }
        a{
            color: #ffffff;
            margin-left: -10px;
        }
        .phone-con{
            padding: 0px;
            
        }
        padding: 8px;
        height: 4.3rem;
        position: sticky;
        width: 12rem;
        left: 77%;
        top: 20%;
       background-color:  rgba(0, 0, 0, 0.5);
       border: 2px solid #ffffff;
    }
    .content{
        .samosa{
            left: 50%
        }
    }
}